<div class="main">
<h1 class="h1">Contact</h1>
<form class="container text-bg-secondary" style="width: 460px; height: 300px; border-radius: 22px; padding-top: 25px;">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="phonenumber" class="form-label">Enter your number</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>