.main{
    background-color: rgb(35, 42, 54);
    width: 100%;
    height: 450px;
    
}
.h1{
    color: rgba(255, 238, 0, 0.932);
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.container{ box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}