<div class="skill">
    <h1 class="h1">Languages</h1>
    <div class="lang ">
        <div class="l grid-center-container">
            <img style="height: 150px; width: 150px; " src="./assets/images/python.png" alt=""><br>
            <h3>python</h3>
        </div>

        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/php.png" alt=""><br>
            <h3>php</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/js.png" alt=""><br>
            <h3>Javascript</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/csharp.png" alt=""><br>
            <h3>C# .Net </h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/html.png" alt=""><br>
            <h3>HTML</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/css.png" alt=""><br>
            <h3>CSS </h3>
        </div>
    </div>

    <h1 class="h1">Framworks</h1>
    <div class="lang ">
        <div class="l grid-center-container">
            <img style="height: 150px; width: 150px; " src="./assets/images/react.png" alt=""><br>
            <h3>React</h3>
        </div>

        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/angular.png" alt=""><br>
            <h3>Angular</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/flask.png" alt=""><br>
            <h3>Flask</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/django.png" alt=""><br>
            <h3>Django</h3>
        </div>

    </div>
    <div class="lang ">
        <div class="l grid-center-container">
            <img style="height: 150px; width: 150px; " src="./assets/images/laravel.png" alt=""><br>
            <h3>Laravel</h3>
        </div>

        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/net.png" alt=""><br>
            <h3>Asp.Net Core</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/veu.png" alt=""><br>
            <h3>Vue js</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/bs.png" alt=""><br>
            <h3>Bootsrap</h3>
        </div>
    </div>
    <h1 class="h1">Database</h1>
    <div class="lang ">
        <div class="l grid-center-container">
            <img style="height: 150px; width: 150px; " src="./assets/images/firbase.png" alt=""><br>
            <h3>Firebase</h3>
        </div>

        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/cloud.png" alt=""><br>
            <h3>Google Cloud</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/mongo.png" alt=""><br>
            <h3>Mongodb</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/mysql.png" alt=""><br>
            <h3>Mysql</h3>
        </div>
        <div class="l"><img style="height: 150px; width: 150px; " src="./assets/images/sql.png" alt=""><br>
            <h3>Sql Server</h3>
        </div>

    </div>
    

</div>