<div class="portfolio" id="p">
    <h1 class="h1">Portfolio</h1>
    <div class="pro">
        <div class="o">
            <div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
                <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
              </div>
        
            
        </div>
            
        <div class="o"><div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
            <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div></div>
        <div class="o"><div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
            <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div></div>     
    </div>
    <div class="pro">
        <div class="o"><div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
            <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div></div>
        <div class="o"><div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
            <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div></div>
        <div class="o"><div class="card text-bg-warning" style="width: 18rem; height: fit-content;">
            <img style="height: 160px;" src="./assets/images/portfolio-3-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div></div>     
    </div>

    
</div>

  


